Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [2]:
import pandas as pd
import numpy as np
data = np.random.rand(4, 4)
df=pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
df

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.028330   0.324642   0.942643   0.694666
1   0.228237   0.100686   0.831964   0.712254
2   0.803569   0.715665   0.686946   0.455251
3   0.779390   0.835522   0.623746   0.983242

 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [6]:
df=df.rename(columns={'Feature 1':'Random value 1', 'Feature 2':'Random value 2', 'Feature 3':'Random value 3' ,'Feature 4': 'Random value 4'})
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.028330        0.324642        0.942643        0.694666
1        0.228237        0.100686        0.831964        0.712254
2        0.803569        0.715665        0.686946        0.455251
3        0.779390        0.835522        0.623746        0.983242

 Find the descriptive statistics of the 'df' dataframe

In [7]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.459882        0.494129        0.771325        0.711353
std          0.391622        0.341150        0.143673        0.215863
min          0.028330        0.100686        0.623746        0.455251
25%          0.178261        0.268653        0.671146        0.634812
50%          0.503814        0.520153        0.759455        0.703460
75%          0.785435        0.745629        0.859634        0.780001
max          0.803569        0.835522        0.942643        0.983242

Check for the null values in 'df' and find the data type of the columns.

In [14]:
print(df.isnull())
df.dtypes

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [20]:
print(df.loc[:, ['Random value 2', 'Random value 3']])
print(df.iloc[:, [1, 2]])

   Random value 2  Random value 3
0        0.324642        0.942643
1        0.100686        0.831964
2        0.715665        0.686946
3        0.835522        0.623746
   Random value 2  Random value 3
0        0.324642        0.942643
1        0.100686        0.831964
2        0.715665        0.686946
3        0.835522        0.623746